@import '../../main.scss';

.TWI {
  padding: 0 20vw;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 450px;
  align-items: center;

  &-grey {
    background-color: $OffWhite;
  }

  &-image {
    width: 20rem;
    @include tablet {
      display: none;
    }
  }

  &-text {
    max-width: 400px;
  }
}
