@import '../../main.scss';

.header {
  @include desktopXLPaddingLR;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  left: 0;

  @include desktop {
    @include desktopPaddingLR;
  }
}

.button {
  &-container {
    display: flex;

    @include tablet {
      display: none;
    }
  }

  &-wrap {
    margin-left: 1rem;
  }
}

.logo {
  height: 3rem;
  cursor: pointer;
}
