@import '../../../../main.scss';

.hero {
  padding: 4.5rem 0;
  @include desktopXLPaddingLR;
  background: #e4f1f2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  flex-direction: column;

  @include mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include mobile {
      padding: 0 1rem;
    }
  }

  &-input-container {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    max-width: 400px;
    min-width: 200px;
  }

  &-title {
    @include mobile {
      margin-bottom: 1rem;
    }
  }

  &-image {
    width: 60vw;

    @include tablet {
      width: 90vw;
    }

    @include mobile {
      height: 170px;
      object-fit: cover;
      object-position: center;
    }
  }

  &-button {
    margin-top: 1rem;
  }
}
